@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
    --shadow : #464646;
    --fontColor : #373737;
}
/* RESETS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 16pt;
    color:#373737
}
/* DEFAULTS */
img{
    width:100%
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
.smTxt{
    font-size: 1.1rem;
}
/* ALIGNMENTS */
.textCenter{
    text-align: center;
}



